html {
    background: radial-gradient(#fff176, #f57f17);
    min-height: 100%;
    font-family: "Roboto", sans-serif;
  }
  
  .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #FF8F00;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  .description {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #FF6F00;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  label {
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    cursor: pointer;
  }
  label:first-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .button,
  .rerun-button {
    padding: 10px 20px;
    border-radius: 3px;
    background: #FF6F00;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
  }
  .button:hover,
  .rerun-button:hover {
    background: #e66400;
  }
  .button.rerun-button,
  .rerun-button.rerun-button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  .modal-wrap {
    max-width: 600px;
    margin: 50px auto;
    transition: transform 300ms ease-in-out;
  }
  
  .modal-header {
    height: 45px;
    background: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-header span {
    display: block;
    height: 12px;
    width: 12px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal-header span.is-active {
    background: rgba(0, 0, 0, 0.4);
    background: #FF8F00;
  }
  
  .modal-bodies {
    position: relative;
    perspective: 1000px;
  }
  
  .modal-body {
    background: white;
    padding: 40px 100px;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    display: none;
    box-sizing: border-box;
    width: 100%;
    transform-origin: top left;
  }
  .modal-body.is-showing {
    display: block;
  }
  
  .animate-out {
    animation: out 300ms ease-in-out forwards;
  }
  .animate-in {
    animation: in 300ms ease-in-out forwards;
    display: block;
    /*transform-origin: top left; */
  }
  .animate-up {
    transform: translateY(-500px);
      /*animation: up 300ms ease-in-out forwards;*/
  }
  
  @keyframes out {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    60% {
      transform: rotate(60deg);
    }
    100% {
      transform: translateY(800px) rotate(10deg);
    }
  }
  
  @keyframes in {
    0% {
      transform: rotateX(-90deg);
      /*transform: rotateY(90deg);*/
    }
    100% {
      transform: rotateX(0deg);
      /*transform: rotateY(0deg);*/
    }
  }