body {
  margin: 0 !important;
  background-color: #000;
}

.marquee {
  animation: slidein infinite 10s linear
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  25%{
    color: aquamarine
  }
  50%{
    color: #ddd;
  }
  75%{
    color: cadetblue;
  }

  to {
    margin-left: -100%;
    width: 200%;
    color: aliceblue;
  }
}

.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
/* To mantain the navbar at the bottom*/
nav.navbar{
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: #222;
  min-height: 100px;
  padding: 20px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

a.nav-link{
  color: #f1f1f1;
}
a.nav-link:hover{
   color:#222;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.headers:hover {background-color: #ddd}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.donate{

  position: relative;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 0%;
  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.volunteer{

  position: relative;
  width: 110px;
  height: 40px;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 0 0 rgba(9, 119, 83, 0.7);
  border-radius: 0%;
  background-color: #2f5e44;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}


@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.grow:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Font awesome styles */

.fa {
  padding: 4px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #b52a00;
  color: white;
}

.body{
  background-color: #f1f1f1;
}